{% extends 'base.html' %}


{% block content%}

<h3>About Tenancy Takeover</h1>
    <hr>
    <p>The Tenancy Takeover App is a simple and accessible platform designed to support students and individuals who are
        experiencing accommodation challenges. It helps connect people seeking housing with property listers offering
        tenancy takeovers by presenting clear, reliable information about available accommodations. The app aims to
        reduce
        housing stress, improve access to short-term and affordable housing, and make the accommodation search process
        more
        straightforward for users.</p>

    {% endblock %}