{% extends "base.html" %}

<!--Page Content -->
{% block content %}

<h1>Add A Listing</h1>
<hr>

<!-- Add Film Form -->
<form method="post" enctype="multipart/form-data" class="row g-3">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <div class="col-lg-9">
        <!-- Listing type textinput -->
        <div class="form-floating">
            <input name="type" type="text" class="form-control" id="type" placeholder="Listing Type">
            <label for="type">Listing Type</label>
        </div>
    </div>
    <div class="col-lg-3">
        <!-- Duration number input (with min and max attributes) -->
        <div class="form-floating">
            <input name="duration" type="number" class="form-control" id="duration" placeholder="Duration" min="1"
                max="12">
            <label for="duration">Duration</label>
        </div>
    </div>
    <div class="col-12">
        <!-- Postcode textinput -->
        <div class="form-floating">
            <input name="postcode" type="text" class="form-control" id="postcode" placeholder="Postcode">
            <label for="postcode">Postcode</label>
        </div>
    </div>
    <div class="col-12">
        <!-- Price textinput -->
        <div class="form-floating">
            <input name="price" type="text" class="form-control" id="price" placeholder="Price">
            <label for="price">Price</label>
        </div>
    </div>
    <div class="col-12">
        <!-- description textinput -->
        <div class="form-floating">
            <input name="description" type="text" class="form-control" id="description" placeholder="Description">
            <label for="description">Description</label>
        </div>
    </div>
    <div class="col-12 mt-0">
        <!-- Film poster file upload-->
        <div class="d-flex flex-sm-row align-items-center justify-content-center mt-3 gap-2">
            <label for="poster">Poster/Image</label>
            <input name="poster" type="text" accept="image/*" class="form-control" id="poster"
                placeholder="Film Poster">
        </div>
    </div>
    <div class="col-lg-5">
        <!-- Genre select with predefined options -->
        <div class="form-floating">
            <select name="genre" class="form-select" id="genre" aria-label="Genre select">
                <option value="">Select Location</option>
                <option value="Action">Sheffield</option>
                <option value="Adventure">Doncaster</option>
                <option value="Comedy">Rotherham</option>
                <option value="Drama">Manchester</option>
                <option value="Horror">Nothingham</option>
            </select>
            <label for="genre">Location</label>
        </div>
    </div>
    <!-- <div class="col-sm-4 col-lg-2 pb-3 text-center">
         Watched checkbox
        <div class="d-flex flex-sm-row align-items-center justify-content-center mt-3 gap-2">
            <div class="form-check">
                <input name="watched" class="form-check-input" type="checkbox" id="watched">
            </div>
            <label class="form-check-label" for="watched">Watched</label>
        </div>
    </div> -->
    <div class="col-sm-8 col-lg-5 text-center">
        <!-- Rating radio buttons -->
        <label for="rating" class="form-label mt-3 me-2 text-muted">Rating</label>
        <div class="btn-group" role="group" aria-label="Rating">
            <input type="radio" class="btn-check" name="rating" id="rating1" autocomplete="off" value="Yes">
            <label class="btn btn-outline-primary" for="rating1">1</label>

            <input type="radio" class="btn-check" name="rating" id="rating2" autocomplete="off" value="No">
            <label class="btn btn-outline-primary" for="rating2">2</label>
        </div>
    </div>
    <!-- <div class="col-sm-8 col-lg-5 text-center">
         Rating radio buttons 
        <label for="rating" class="form-label mt-3 me-2 text-muted">Rating</label>
        <div class="btn-group" role="group" aria-label="Rating">
            <input type="radio" class="btn-check" name="rating" id="rating1" autocomplete="off" value="1">
            <label class="btn btn-outline-primary" for="rating1">1</label>

            <input type="radio" class="btn-check" name="rating" id="rating2" autocomplete="off" value="2">
            <label class="btn btn-outline-primary" for="rating2">2</label>

            <input type="radio" class="btn-check" name="rating" id="rating3" autocomplete="off" value="3">
            <label class="btn btn-outline-primary" for="rating3">3</label>

            <input type="radio" class="btn-check" name="rating" id="rating4" autocomplete="off" value="4">
            <label class="btn btn-outline-primary" for="rating4">4</label>

            <input type="radio" class="btn-check" name="rating" id="rating5" autocomplete="off" value="5">
            <label class="btn btn-outline-primary" for="rating5">5</label>
        </div>
    </div> -->
    <!-- <div class="col-12">
         Review textarea 
        <div class="form-floating">
            <textarea name="review" class="form-control" placeholder="Leave a review here" id="review"
                style="height: 100px"></textarea>
            <label for="review">Review</label>
        </div>
    </div> -->

    <div class="col-12 text-center">
        <button type="submit" class="btn btn-success w-100">Create</button>
    </div>

</form>

{% endblock %}