{% extends "base2.html" %}

{% block content %}
<a href="{{ url_for('create') }}" class="btn btn-primary mb-3 float-end">+ Add</a>
<h1>{{ type }}</h1>
<hr>

<!-- Row for Listings Grid-->
<div class="row g-1 g-sm-3">
    {% for listing in listings %}
    <div class="col-md-4">

    </div>


    <!-- Listing Card Column -->
    <div class="col-sm-8">

        <!-- Listing Card -->
        <div class="card h-100">

            <!-- Listing Card Content Row -->
            <div class="row g-0">

                <!-- Listing Image/Poster Columns -->
                <div
                    class="col-4 col-sm-12 col-xl-4 bg-secondary-subtle d-flex align-items-center justify-content-center">
                    <a href="{{ url_for('listing', id=listing['id']) }}">
                        <img src="{{ listing['poster'] }}" alt="Poster for {{ listing['type'] }}" class="img-fluid">
                    </a>
                </div>
                <!-- Listing Details Columns -->
                <div class="col-8 col-sm-12 col-xl-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ listing['listing_type'] }} ({{ listing['postcode'] }})</h5>
                        <p class="card-text mb-1">{{ listing['postcode'] }}</p>
                        <!-- Location Badge and View Details Button -->
                        <div class="badge text-bg-secondary mb-2">{{ listing['Location'] }}</div>
                        <h5 class="card-title">{{ listing['duration'] }}months (£{{ listing['price'] }}/m)</h5>
                        <br />

                        <p class="card-text mb-1">{{ listing['user'] }}</p>
                        <a href="{{ url_for('listing', id=listing['id']) }}"
                            class="btn btn-sm btn-outline-secondary">More
                            Details</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    {% endfor %}
</div>


{% endblock %}