{% extends "base2.html" %}

<!-- Page Title -->
{% set title = listing['title'] %}

<!-- Page Content -->
{% block content %}
<a href="{{ url_for('update', id=listing['id']) }}" class="btn btn-primary mb-3 float-end">Edit</a>
<h1>{{ listing['listing_type'] }} ({{ listing['duration'] }})</h1>
<hr>

<div class="row">
    <div class="col-md-4 mb-3 text-center">
        <img src="{{ listing['poster'] }}" alt="Poster for {{ listing['listing_type'] }}" class="img-fluid">
    </div>

    <div class="col-md-8">
        <!-- <h4>postcode</h4>
        <p>{{ listing['postcode'] }}</p> -->

        <h4>Description</h4>
        <p>{{ listing['listing_details'] }}</p>

        <!-- <h4>location</h4>
        <p>{{ listing['location'] }}</p> -->
    </div>
</div>

{% endblock %}

<!-- Sidebar Content -->
{% block sidebarContent %}

<    <!-- Manage listing card -->
    {% if session['user_id'] == listing['user'] %}
        <div class="card text-center mt-3">
            <div class="card-body">
                <h5 class="card-title">Manage listing</h5>
                <form method="post" class="btn-group" action="{{ url_for('delete', id=listing['id']) }}" onsubmit="return confirm('Are you sure you want to delete this film?');"> 
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <a href="{{ url_for('update', id=listing['id']) }}" class="btn btn-primary">Update</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    {% endif %}

    <!-- Back to all listings card -->
    <div class="card text-center mt-3">                                                                                   
        <div class="card-body">
            {% if session['user_id'] == listing['user'] %}
                <a href="{{ url_for('listing') }}" class="btn btn-secondary w-100">Back to All listings</a>
            {% else %}
                <a href="{{ url_for('userlistings', user_id=listings['user']) }}" class="btn btn-secondary w-100">Back to {{ film['user']|get_username }}'s Films</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<!-- Back to all listings card -->
<div class="card text-center mt-3">
    <div class="card-body">
            {% if session['user_id'] == film['user'] %}
                <a href="{{ url_for('films') }}" class="btn btn-secondary w-100">Back to All Films</a>
            {% else %}
                <a href="{{ url_for('userFilms', user_id=film['user']) }}" class="btn btn-secondary w-100">Back to {{ film['user']|get_username }}'s Films</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
