{% extends "base.html" %}

<!--Page Content -->
{% block content %}

<h1>Update listing</h1>
<hr>

<!-- Update listing Form -->
<form method="post" enctype="multipart/form-data" class="row g-3">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <div class="col-lg-9">
        <!--Listing textinput -->
        <div class="form-floating">
            <input name="type" type="text" class="form-control" id="type" placeholder="Listing Type"
                value="{{ listing['type'] }}">
            <label for="type">Listing Type</label>
        </div>
    </div>
    <div class="col-lg-3">
        <!--Duration number input (with min and max attributes) -->
        <div class="form-floating">
            <input name="duration" type="number" class="form-control" id="duration" placeholder="Duration" min="1"
                max="12" value="{{ listing['duration'] }}">
            <label for="duration">Duration</label>
        </div>
    </div>
    <div class="col-12">
        <!-- Postcode textinput -->
        <div class="form-floating">
            <input name="postcode" type="text" class="form-control" id="postcode" placeholder="listing Tag Line"
                value="{{ listing['postcode'] }}">
            <label for="postcode">Postcode</label>
        </div>
    </div>
    <div class="col-12">
        <!--Description textinput -->
        <div class="form-floating">
            <input name="listing_details" type="text" class="form-control" id="listing_details"
                placeholder="listing_details" value="{{ listing['listing_details'] }}">
            <label for="listing_details">listing_details</label>
        </div>
    </div>
    <div class="col-12 mt-0">
        <!--listing poster file upload-->
        <div class="d-flex flex-sm-row align-items-center justify-content-center mt-3 gap-2">
            <label for="poster">Poster/Image</label>
            <input name="poster" type="file" accept="image/*" class="form-control" id="poster"
                placeholder="listing Poster" value="{{ listing['poster'] }}">
        </div>
    </div>
    <div class="col-lg-5">
        <!--town select with predefined options -->
        <div class="form-floating">
            <select name="town" class="form-select" id="town" aria-label="town select">
                <option value="" {% if listing['town']=="" %}selected{% endif %}>Select Location</option>''
                <option value="Sheffield" {% if listing['town']=="Sheffield" %}selected{% endif %}>Sheffield</option>
                <option value="Doncaster" {% if listing['town']=="Doncaster" %}selected{% endif %}>Doncaster</option>
                <option value="Rotherham" {% if listing['town']=="Rotherham" %}selected{% endif %}>Rotherham</option>
                <option value="Manchester" {% if listing['town']=="Manchester" %}selected{% endif %}>Manchester</option>
                <option value="Nothingham" {% if listing['town']=="Nothingham" %}selected{% endif %}>Nothingham</option>
                <!-- <option value="Romance" {% if listing['town']=="Romance" %}selected{% endif %}>Romance</option>
                <option value="Sci-Fi" {% if listing['town']=="Sci-Fi" %}selected{% endif %}>Sci-Fi</option>
                <option value="Documentary" {% if listing['town']=="Documentary" %}selected{% endif %}>Documentary
                </option>
                <option value="Other" {% if listing['town']=="Other" %}selected{% endif %}>Other</option> -->
            </select>
            <label for="town">Location</label>
        </div>
    </div>
    <!-- <div class="col-sm-4 col-lg-2 pb-3 text-center">
        Watched checkbox 
        <div class="d-flex flex-sm-row align-items-center justify-content-center mt-3 gap-2">
            <div class="form-check">
                <input name="watched" class="form-check-input" type="checkbox" id="watched" {% if listing['watched']
                    %}checked{% endif %}>
            </div>
            <label class="form-check-label" for="watched">Watched</label>
        </div>
    </div> -->
    <div class="col-sm-8 col-lg-5 text-center">
        <!-- Rating radio buttons  -->
        <label for="bills_inclusive" class="form-label mt-3 me-2">Bills Inclusive</label>
        <div class="btn-group" role="group" aria-label="Bills Inclusive">
            <input type="radio" class="btn-check" name="bills_inclusive" id="bills_inclusiveYes" autocomplete="off"
                value="Yes" {% if listing['bills_inclusive']=='Yes' %}checked{% endif %}>
            <label class="btn btn-outline-primary" for="bills_inclusiveYes">Yes</label>

            <input type="radio" class="btn-check" name="bills_inclusive" id="bills_inclusiveNo" autocomplete="off"
                value="No" {% if listing['bills_inclusive']=='No' %}checked{% endif %}>
            <label class="btn btn-outline-primary" for="bills_inclusiveNo">No</label>

            <!-- <input type="radio" class="btn-check" name="rating" id="rating3" autocomplete="off" value="3" {% if
                listing['rating']==3 %}checked{% endif %}> 
            <label class="btn btn-outline-primary" for="rating3">3</label>

            <input type="radio" class="btn-check" name="rating" id="rating4" autocomplete="off" value="4" {% if
                listing['rating']==4 %}checked{% endif %}>
            <label class="btn btn-outline-primary" for="rating4">4</label>

            <input type="radio" class="btn-check" name="rating" id="rating5" autocomplete="off" value="5" {% if
                listing['rating']==5 %}checked{% endif %}>
            <label class="btn btn-outline-primary" for="rating5">5</label> -->
        </div>
    </div>
    <!-- <div class="col-12">
        Review textarea 
        <div class="form-floating">
            <textarea name="review" class="form-control" placeholder="Leave a review here" id="review"
                style="height: 100px">{{ listing['review'] }}</textarea>
            <label for="review">Review</label>
        </div>
    </div>  -->

    <div class="col-12 text-center">
        <button type="submit" class="btn btn-success w-100">Update</button>
    </div>

</form>

{% endblock %}

<!--Sidebar Content -->
{% block sidebarContent %}
<!-- Listing Image -->
<div class="card mt-3">
    <div class="card-body text-center">
        <h5 class="card-title">Listing Poster</h5>
        {% if not listing['poster'] %}
        <p class="text-muted">No image available</p>
        {% else %}
        <img src="{{ listing['poster'] }}" class="card-img-top" alt="Image for {{ listing['listing_type'] }}">
        {% endif %}
    </div>
</div>

<div class="card mt-3">
    <div class="card-body text-center ">
        <h5 class="card-type">Delete This listing?</h5>
        <form method="post" Sheffield="{{ url_for('delete', id=listing['id']) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <button type="submit" class="btn btn-danger"
                onclick="return confirm('Are you sure you want to delete this?');">Delete</button>
        </form>
    </div>
</div>

{% endblock %}